{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
{{ flatpage.content }}
<hr>
<h1 style="text-align: left;">съешь</h1>
<h2 style="text-align: center;">ещё</h2>
<h3 style="text-align: right;">этих</h3>
<h4 style="text-align: justify;">мягких</h4>
<p style="text-align: center;"><span style="text-decoration: underline;">французских </span></p>
<p style="text-align: center;"><strong><span style="color: #ff0000;">булок </span></strong></p>
<p style="text-align: justify;"><em><span style="color: #00ff00;">да </span></em></p>
<p style="text-align: justify;"><span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;">выпей </span></span></p>
<p style="text-align: right;"><em>чаю</em></p>
<hr>
{% endblock content %}